apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: crds-ingress
spec:
  minReadySeconds: 10
  replicas: 1
  template:
    metadata:
      labels:
        app: crds-ingress
    spec:
      containers:
      - name: crds-ingress
        image: quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.14.0
        imagePullPolicy: Always
        resources:
          limits:
            memory: "2Gi"
            cpu: "3100m"
          requests:
            memory: "250Mi"
            cpu: "200m"
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        ports:
        - containerPort: 80
        - containerPort: 443
        args:
        - /nginx-ingress-controller
        - --default-backend-service=$(POD_NAMESPACE)/crds-fake-default-backend-service
        - --configmap=$(POD_NAMESPACE)/crds-ingress-nginx-config
        - --default-ssl-certificate=$(POD_NAMESPACE)/crossroads-ssl
        - --annotations-prefix=nginx.ingress.kubernetes.io
        - --ingress-class=nginx
        - --watch-namespace=$(POD_NAMESPACE)