apiVersion: v1
kind: Service
metadata:
  name: crds-ingress-service
spec:
  type: LoadBalancer
  ports:
  - name: http
    port: 80
  - name: https
    port: 443
  selector:
    app: crds-ingress
---
apiVersion: v1
kind: Service
metadata:
  name: crds-fake-default-backend-service
spec:
  ports:
  - name: http
    port: 80